body{
    background-image: url(images/background_deco.png);
    background-size: 150%;
    color: aliceblue;

}

/*.container{
    background-image: url(/portfolio_2/image/background_deco.png);
}
*/

img{
    padding: 5px 0 15px 0;
}

.menu{
    display: flex;
    list-style: none;
    
}
.menu > a > li{ 
    padding-right: 15px;
}
.liste{
    list-style: none;
}
div.col-6:nth-child(2) > p:nth-child(1)::before{
    content: url(/portfolio_2/image/adresse.png);
}

div.col-6:nth-child(2) > p:nth-child(2)::before{
   content: url(/portfolio_2/image/telephone.png);
}

div.col-6:nth-child(2) > p:nth-child(3)::before{
    content: url(/portfolio_2/image/email.png);
}
